@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

body{
	/*width: 1024px;*/
	widht: auto;
	color: #fff;
}

/*HEADER*/

.header{
	width: 100%;
	height: 60px;
	background-color: #00AEEF;
	position: fixed;
	z-index: 1;
}

ul{
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

li{
	width: 20%;
	float:left;
	text-align: center;
	height: 100%;
}

a{
	color: aliceblue;
	letter-spacing: 5px;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: 600;
}

a:hover{
	color: rgba(165,43,107,1);
}

/*esto es para centrar*/
li{
	display: inline-table; /*para el contenedor*/
}

a{
	display: table-cell; /*para el contenido*/
	vertical-align: middle;
}

/*separador*/
.espacio{
	clear: both;
}

/*BANNER*/
.banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 512px;
	width: 100%;
}

.baseline{
	width: 100%;
	height: 80%;
	display: inline-table;
}

h1{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 72px;
	font-weight: 200;
	font-family: 'Pacifico', cursive;
}

.botones{
	text-align: center;
}

.botones a{
	background-color:rgba(165,43,107,0.80);
	padding: 15px;
	margin: 15px;
	display: inline;
}

.botones a:hover{
	color: black;
}

/*DESTACADOS*/

.destacados{
	width: 800px;
	margin: 0 auto;
	margin-top:50px;
}

.item{
	width: 33.3%;
	float: left;
	text-align: center;
}

.item a{
	display: block;
}

h3{
	color: black;
	padding: 20px;
}