@charset "UTF-8";

body {
	color: #fff;
	width: 1024px;
	width: auto;
}

.header {
	width: 100%;
	height:60px;
	background-color: #FF00F5;
	margin: 0px;
	position:fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
}

.menu{
	float: left;
	height: 100%;
	width: 43%;
	text-align: center;
	display: inline-table;
	
}

.menu a{
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 15px;
	font-weight: 600;
}

.logo{
	float: left;
	width: 10%;
}

.logo img{
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

a{
	color: aliceblue;
	text-decoration: none;
	font-variant:small-caps;
}

*{
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
}

/***/

#menuLeft{
	text-align: right;
	padding-right: 10px;
}
#menuRight{
	text-align: left;
	padding-left: 20px;
}

a:hover{
	color: rgba(107,28,70,1.00);
}

/*POSICIONAMIENTO*/

.clear {
	clear: both;
}


/***/

.banner{
	width: 100%;
	background-image: url(images/banner.png);
	background-repeat:no-repeat;
	background-position:center;
	height: 512px;
	position: absolute;
	top: 0px 0px;
}

.baseline{
	width: 100%;
	height: 80%;
	display: inline-table;
}

.baseline h1{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 72px;
	font-weight: 200;	
}

.buttons{
	text-align: center;
}
.buttons a{
	
	background-color: rgba(165,43,107,0.90);
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin:5px;
	font-variant: small-caps;
	font-weight: 600;
}

/***/

.highlights{
	float: left;
	width: 100%;
	top:650px;
	position: absolute;
}

.item{
	float: left;
	width:30%;
	margin-left: auto;
	margin-right: auto;
}

.item img{
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.highMargin{
	height: 100%;
	float: left;
	width: 5%;
}

h3 {
	color: black;
	text-align: center;
	
}

.footer{
	top:1000px;
	position: relative;
	background-color: #00AEEF;
	width: 100%;
	height: 100px;
}

.socialMargin{
	width: 70%;
	float: left;
	background-color: rgba(0,0,0,0.00);
}

.social{
	float: left;
	width: 30%;
}

.sociaLogo{
	float: left;
	width: 25%;
	padding-top: 30px;
}

.sociaLogo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer h1{
	vertical-align: middle;
	text-align: left;
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	padding-left: 24px;
	font-weight: 200;	
}