@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

.music {
  position: absolute;
  bottom: 0;
  right: 0;
}

a img {
  border: none;
}

@font-face {
  font-family:SilkscreenNormal;
    src:url("../fonts/slkscr.ttf"),url("fonts/slkscr.eot");
    font-weight:400;
    font-style:normal;
}

body {
  text-transform: uppercase;
  background: #0f4d8f;
  color: white;
  font-family: SilkscreenNormal, Monaco, "Courier New", Courier, monospace;
  overflow-x: hidden;
  font-size: 1px;
  margin: 2;
  padding: 0;
}

.ach {
  display: none;
  text-align: center;
  border-top-right-radius: 12px 6px;
  border-top-left-radius: 12px 6px;
  font-size: 14px;
  cursor: pointer;
  height: 140px;
  width: 300px;
  background-color: rgba(0,0,0,0.45);
  bottom: 0px;
  left: 10px;
  position: fixed;
  margin: 0;
}

.desc {
  text-align: center;
  margin: 2px;
}

#achhead {
  padding-top: 2px;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

#achlink {
  color: #dd3333;
  font-family: Arial;
  text-transform: none;
}

#achlink a {
  color: #dd3333;
}

#achlink a:hover {
  color: pink;
}

h1 {
  text-align: center;
  font-size: 46em;
}

h3 {
  margin: 6px;
}

.announce {
  z-index: 4;
  text-transform: capitalize;
  font-family: SilkscreenNormal;
  margin-top: 8px;
  position: absolute;
  color: #000000;
  font-size: 26px;
  width: 100%;
  background-color: #ffff00;
}

.announce a:visited {
  color: blue;
}

.announce a:hover {
  color: #445555;
}

.hint {
  text-align: center;
  font-size: 15em;
}

.star {
  font-size: 5em;
  position: absolute;
}

.star .wrapper {
  position: absolute;
  height: 10em;
  width: 10em;
}

.star .dot {
  background: white;
  height: 1em;
  width: 1em;
  position: absolute;
  display: none;
  top: 50%;
  left: 50em;
}

.star.frame-1 .wrapper {
  right: 5em;
}

.star.frame-2 .wrapper {
  right: 10em;
}

.star.frame-3 .wrapper {
  right: 15em;
}

.star.frame-4 .wrapper {
  right: 20em;
}

.star.frame-5 .wrapper {
  right: 25em;
}

.star.frame-1 .dot-1,.star.frame-2 .dot-1,.star.frame-4 .dot-1 {
  margin-top: -.5em;
  margin-left: -.5em;
  display: block;
}

.star.frame-2 .dot-2,.star.frame-3 .dot-2 {
  margin-top: -1.5em;
  margin-left: -1.5em;
  display: block;
}

.star.frame-2 .dot-3,.star.frame-3 .dot-3 {
  margin-top: .5em;
  margin-left: .5em;
  display: block;
}

.star.frame-2 .dot-4,.star.frame-3 .dot-4 {
  margin-top: .5em;
  margin-left: -1.5em;
  display: block;
}

.star.frame-2 .dot-5,.star.frame-3 .dot-5 {
  margin-top: -1.5em;
  margin-left: .5em;
  display: block;
}

.star.frame-3 .dot-6,.star.frame-4 .dot-6 {
  margin-top: -2.5em;
  margin-left: -2.5em;
  display: block;
}

.star.frame-3 .dot-7,.star.frame-4 .dot-7 {
  margin-top: 1.5em;
  margin-left: -2.5em;
  display: block;
}

.star.frame-3 .dot-8,.star.frame-4 .dot-8 {
  margin-top: -2.5em;
  margin-left: 1.5em;
  display: block;
}

.star.frame-3 .dot-9,.star.frame-4 .dot-9 {
  margin-top: 1.5em;
  margin-left: 1.5em;
  display: block;
}

.rainbow {
  z-index: -1;
  font-size: 16em;
  float: left;
  position: relative;
}

.rainbow .wave {
  height: 1.25em;
  width: 3.5em;
}

.rainbow .wave-1 {
  background: #ff0000;
}

.rainbow .wave-2 {
  background: #ff9900;
}

.rainbow .wave-3 {
  background: #ffff00;
}

.rainbow .wave-4 {
  background: #33ff00;
}

.rainbow .wave-5 {
  background: #0099ff;
}

.rainbow .wave-6 {
  background: #6633ff;
}

.rainbows {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -75em;
  overflow: hidden;
  height: 160em;
  width: 50%;
}

.rainbows .wrapper {
  width: 10000px;
}

.rainbows .rainbow.frame-4 {
  top: 2em;
}

.rainbows.shift .rainbow.frame-4 {
  top: 0;
}

.nyan-cat {
  z-index: -1;
  position: absolute;
  top: 62.75%;
  left: 50%;
  margin-left: -60px;
  margin-top: -180px;
  height: 420px;
  width: 420px;
}

.muctr {
  background: rgba(0,0,0,0.35);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

#timer {
  z-index: -1;
  position: absolute;
  top: 67%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18em;
  color: white;
}

#timer .i18n {
  font-size: .85em;
  text-decoration: underline;
  padding-top: .5em;
}

#timer .i18n:hover {
  color: pink;
  cursor: pointer;
}

#timer .i18n {
  font-size: .85em;
  text-decoration: underline;
  padding-top: .5em;
}

#timer .i18n:hover {
  color: pink;
  cursor: pointer;
}

#timer .i18n {
  font-size: .85em;
  text-decoration: underline;
  padding-top: .5em;
}

#timer .i18n:hover {
  color: pink;
  cursor: pointer;
}

#timer .time {
  font-size: 1.75em;
}

#timer .follow {
  padding-top: .25em;
}

#timer .disclaimer {
  padding-top: .5em;
  font-size: .65em;
  text-decoration: none;
}

#timer a {
  font-size: .85em;
  color: #ffffff;
}

#timer a:hover {
  color: pink;
}

.bottom-pane {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.bottom-pane,.bottom-pane a {
  color: white;
}

.bottom-panek iframe {
  background: #0f4d8f;
}

.bottom-pane div {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 25px;
}

.bottom-pane #twitter-share-button {
  width: 110px;
  height: 22px;
}

.bottom-pane #facebook-share-button {
  width: 95px;
  overflow: hidden;
}

#starCount {
  visibility: hidden;
}

#play {
  font-size: 2em;
  position: absolute;
  background: rgba(0,0,0,0.35);
  top: 25%;
  text-align: center;
  width: 5em;
  left: 50%;
  margin-left: -3.5em;
  margin-top: -3em;
  padding: 1em;
}

#play span {
  display: block;
  font-size: .6em;
  padding-top: .4em;
}

.view {
  background: rgba(0,0,0,0.35);
  margin-left: 48%;
}

.skinpick {
  background: rgba(0,0,0,0.35);
  font-family: SilkscreenNormal;
}

.langchooser {
  margin: 0;
  font-family: Arial;
  background: rgba(0,0,0,0.35);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 12em;
  text-align: left;
  z-index: 10;
}

.langchooser a {
  color: #ffffff;
}

.star.frame-4 .dot-2,.star.frame-5 .dot-6 {
  margin-top: -3.5em;
  margin-left: -3.5em;
  display: block;
}

.star.frame-4 .dot-3,.star.frame-5 .dot-7 {
  margin-top: 2.5em;
  margin-left: -3.5em;
  display: block;
}

.star.frame-4 .dot-4,.star.frame-5 .dot-9 {
  margin-top: -3.5em;
  margin-left: 2.5em;
  display: block;
}

.star.frame-4 .dot-5,.star.frame-5 .dot-8 {
  margin-top: 2.5em;
  margin-left: 2.5em;
  display: block;
}

.rainbows .rainbow.frame-1,.rainbows.shift .rainbow.frame-3,.rainbows.shift .rainbow.frame-5 {
  top: .5em;
}

.rainbows .rainbow.frame-2,.rainbows .rainbow.frame-6,.rainbows.shift .rainbow.frame-2,.rainbows.shift .rainbow.frame-6 {
  top: 1em;
}

.rainbows .rainbow.frame-3,.rainbows .rainbow.frame-5,.rainbows.shift .rainbow.frame-1 {
  top: 1.5em;
}

.bottom-pane a:hover,.skinchooser a:hover,.langchooser a:hover,#volume:hover {
  color: pink;
}

.skinchooser li,.langchooser li {
  list-style: none;
}

@media screen and -webkit-min-device-pixel-ratio0 {
  .rainbows {
    margin-top: -100px;
  }
}

#flavors {
  position: absolute;
  right: 0;
  z-index: 8;
  background: rgba(0,0,0,0.35);
  float: right;
  display: none;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.flex {
  position: relative;
}

.flex .fl {
  position: absolute;
  left: 0;
  width: 50%;
}

.flex .fr {
  position: absolute;
  right: 0;
  width: 50%;
}

.muctr {
  background: rgba(0,0,0,0.35);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

.mobileskinbutton a {
  color: #ffffff;
}

.mobileskinbutton {
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  font-size: 64em;
  margin: 0;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.35);
  position: fixed;
}

#muctr {
  visibility: hidden;
}

.nosound a {
  color: #ffffff;
}

.nosound {
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  font-size: 64em;
  margin: 0;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.35);
  position: fixed;
}

.announce {
  margin: 0;
  text-align: center;
  left: 0;
  padding: 10px;
  text-transform: capitalize;
  font-family: SilkscreenNormal;
  color: #000000;
  font-size: 26px;
  width: 100%;
  background-color: #ffff00;
}

.announce a:visited {
  color: blue;
}

.announce a:hover {
  color: #445555;
}

.nyancoin {
  position: absolute;
  z-index: -3;
  margin: 0;
  background: rgba(0,0,0,0.3);
  margin-top: 1em;
  padding: 0.1em;
  left: 0;
  width: 100%;
  font-family: "Press Start 2P", cursive;
}

.nyancoin a {
  color: #fff;
}

.nyancoin a:hover {
  color: pink;
}

#flavors img {
  width: 104px;
}

.pluginShareButtonLink {
  color: #fff !important;
}

@media only screen and (min-width:0px) and (max-width:699px) {
  #muctr {
    visibility: visible;
  }
}

#storeitem {
  display: inline-block;
  height: 200px;
  width: 800px;
}

#storeitem a {
  text-decoration: none;
}